<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- SEO -->
  <meta name="keywords" content="ward,melville,international,culture,cultures,club,high,school">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Ward Melville's most diverse, fun, and interesting club! Meet with us in room 525, Tuesdays, after school.">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
<!--  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">-->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/pure-min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/public/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/public/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/public/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/public/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/public/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/public/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/public/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="WM ICC"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/public/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/public/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/public/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/public/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/public/favicon/mstile-310x310.png" />

  <meta name="theme-color" content="#dc143c">

  <!-- GOOGLE ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-76943621-2', 'auto');
    ga('send', 'pageview');
  </script>
  
</head>
