<div class="sidebar">
  <div class="sidebar-sticky"><!--sidebar-sticky-->
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <!--{{ site.title }}-->
          <div align="center"><img style="border-radius: 0" src="/public/logo.png" alt="WM ICC"></div>
        </a>
      </h1>
      <!--<p class="lead">{{ site.description }}</p>-->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      {% assign pages_list = site.pages | sort:"weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" or node.title == "Presentation Schedule" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>

    <p class="">&copy; {{ site.time | date: '%Y' }}, Ward Melville International Cultures Club. All rights reserved.</p>
  </div>
</div>
