<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <script type="text/javascript">
          function init() {
              $.get("https://docs.google.com/document/d/{{page.doc}}/pub?embedded=true", function(data) {
                  document.getElementById("doc").innerHTML=data;
                  $("style").remove();
              })
          }
        </script>
        <script onload="init();" src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <body>
    {% include sidebar.html %}
    <div style="padding-left:0; width:100%;" class="content container">
      <div style="margin-left:18rem; padding:0; margin:0;" class="page">
        <h1 class="page-title">{{ page.title }}</h1>
        {{content}}
        <div id="doc"></div>
      </div>
    </div>
  </body>
</html>

